* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }  

body{
    display: grid;
    grid-template:
    "aside header header" 100px
    "aside main main" 100px
    "aside main main" 441px / 350px;
    font-family: Arial;
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #285862;
}

h1{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 10px;
    color: white;
    height: 90px;
    padding: 10px;
    margin-bottom: 15px;
}

.asideOpcao{
    display: flex;
    flex-direction: column;
    width: 250px;
    width: 100%;
    height: 90%;
    /* background-color: red; */
}
.asideOpcao span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 17px;
    padding: 10px;
    /* border-radius: 10px; */
    height: 45px;
    color: white;
    background-color:rgb(46, 97, 108);
}
.asideOpcao span:hover{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color:rgb(65, 116, 128);
}

header{
    grid-area: header;
    border-left: 2px solid #336C77;
    background-color: #285862;
}

.dadosUser{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    margin-right: 10px;

}
.dadosUser div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #9DC2B7;
}
.dadosUser img{
    width: 30px;
}
.dadosUser span{
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

main{
    grid-area: main;
    background-color: #336C77;
}

